.contact {
  margin-bottom: 32px;
  padding: 0px 16px;
  position: relative;
  z-index: 10;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto 0 auto;
}
.links a,
.links img {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .links a,
  .links img {
    width: 30px !important;
    height: 30px !important;
  }
}
